body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #101820ff;
}
.container {
    margin: 40px 100px 0 100px;
    
}
/* Cover Section */
.cover-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
}
.cover-area {
    height: 646px;
    background-color: #f2aa4cff;
    border-radius: 30px;
}
.cover-image img {
    width: 100%;
}
.cover-title {
    width: 100%;
}

.main-title-area>h1 {
    margin: 0%;
    font-size: 5vw;
    line-height: 120%;;
}
.main-title-area>p {
    /* font-size: 16px; */
    font-size: 1.2vw;
    margin-top: 20px;
    margin-bottom: 30px;
}
.watch {
    background-color: #101820ff;
    padding: 16px 25px;
    border-radius: 5px;
    color: white;
}
.watch a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}
.main-title-area {
    margin: 23% 0 0 15%;
}
/* cover responsiv Tab view */
@media screen and (min-width: 375px) and (max-width: 834px) {
    .container {
        margin: 50px;
    }
    .cover-area {
        height: 398px;
    }
    .watch {
        font-size: 20px;
        padding: 12px;
    }
    .main-title-area {
        margin: 40px 0 65px 65px;
    }
    .cover-title {
        width: 100%;
        height: 30%;
    }
    .main-title-area>h1 {
        font-size: 40px;
    }
    .main-title-area>p {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
  }

  /* Cover Mobile Responsiven */

  @media screen and (max-width: 375px) {
    .container {
        margin: 44px 20px 20px 20px;
    }
    .cover-area {
        height: 500px;
        text-align: center;
    }
  
    .cover-area {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        color: white;
    }
    .main-title-area>h1 {
        margin: 0%;
        font-size: 22px;
        line-height: 110%;;
    }
    .main-title-area>p {
        /* font-size: 16px; */
        font-size: 14px;
        margin-top: 8px;
        margin-bottom: 12px;
    }
    .main-title-area {
        margin: 25px 5px 0 5px;
    }
    .cover-image img {
        width: 70%;
    }
  }
/* Section two */
/* manue */
.manue {
    height: 312px;
    border-radius: 10px;
    background-color: #f2aa4cff;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.manue-btn>a:hover {
    background-color: rgb(231, 184, 184);
}
.manue-btn>a {
    width: 200px;
    height: 64px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
#blog-btn>a {
    background-color: #101820ff;
}
#blog-btn>a:hover {
    background-color: rgb(58, 73, 88);
}
#blog-btn>a {
    color: white;
}
.contain img {
    border-radius: 10px;
}
.transfer-btn {
    border: 1px solid;
    border-radius: 5px;
    font-size: 24px;
    padding: 4px 16px;
    margin: 20px 0 0 20px;
}
.contain>p {
    font-size: 18px;
    margin-left: 10px;
}
.information {
    display: flex;
    margin-top: 20px;
    margin-left: 15px;
}
.comment {
    margin-left: 30px;
}
/* Blogs */

.blogs  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 10px; */
    column-gap: 10px;
    row-gap: 35px;
}
.one {
    grid-column: 1 ;
    grid-row: 1 / span 3;
}

/* Coming match */
#coming-blogs {
    text-align: center;
}
.contain>p {
    margin-bottom: 0px;
}

/* Section two Teb Responsive */
/* Manue */
@media screen and (min-width: 375px) and (max-width: 834px) {
    .manue {
        height: 0px;
        border-radius: 10px;
        background-color: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-evenly;
        justify-items: center;
        align-content: space-evenly;
        align-items: center;
    }
    .manue-btn>a {
        width: 200px;
        height: 54px;
        font-size: 20px;
    }
    .blogs  {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        align-content: space-around;
    }
    .one {
        grid-column: 1 ;
        grid-column: 1 / span 2;
    }
  }

  /* Mobile Responsive section two Blogs*/
  @media screen and (max-width: 375px) {
    .blogs  {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
  }

/* footer section */
footer {
    height: 350px;
    margin-top: 130px;
    background-color: #101820ff;
    color: white;
    text-align: center;

    align-items: center;
}
.footer-logo>h4 {
    font-size: 40px;
    padding-top: 70px;
    margin-bottom: 50px;
}
.footer-section>hr {
    width: 80%;
    border: 1px solid rgb(41, 55, 70);
}
.footer-info {
    width: 70%;
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: auto;
    margin-top: 50px;
}
.social-media {
    margin-top: 25px;
}

/* Foter tab view */
@media screen and (min-width: 375px) and (max-width: 834px) {
    .footer-info {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-content: space-around;
    }

    .footer-logo>h4 {
        padding-top: 50px;
        margin-bottom: 40px;
    }
    .goal-app {
        grid-row: 2 ;
        grid-row: 1 / span 2;
    }
  }
  /* footer Mobile view*/
  @media screen and (max-width: 375px) {
    .footer-info {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        font-size: 14px;
        row-gap: 15px;
    }
    footer {
        height: 420px;
    }
    .footer-logo>h4 {
        font-size: 22px;
        padding-top: 24px;
        margin-bottom: 24px;
    }
    .social-media {
        margin-top: 15px;
    }
  }
