body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #101820ff;
}
.container {
    margin: 40px 100px 0 100px;
    
}
/* Cover Section */
.cover-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
}
.cover-area {
    height: 646px;
    background-color: #f2aa4cff;
    border-radius: 30px;
}
/* background-color: #101820ff; */
.main-title-area>h1 {
    margin: 0%;
    font-size: 70px;
    line-height: 110%;;
}
.main-title-area>p {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.watch {
    background-color: #101820ff;
    padding: 16px 25px;
    border-radius: 5px;
    color: white;
}
.watch a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}
.main-title-area {
    width: 531px;
    height: 424px;
    margin: 111px 0 0 80px;
}
/* Section two */
/* manue */
.manue {
    height: 312px;
    border-radius: 10px;
    background-color: #f2aa4cff;
}
.manue-btn {
    width: 200px;
    height: 64px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.manue-btn>a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
#blog-btn {
    background-color: #101820ff;
}
#blog-btn>a {
    color: white;
}
.manue {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}
/* .manuebar {
    display: grid;
    grid-template-rows: repeat(1, fr);
} */
/* Contain */
/* .contain {
    color: black;
} */

.contain img {
    border-radius: 10px;
}
.transfer-btn {
    border: 1px solid;
    border-radius: 5px;
    font-size: 24px;
    padding: 4px 16px;
    margin: 20px 0 0 20px;
}
.contain>p {
    font-size: 18px;
}
.information {
    display: flex;
}
.comment {
    margin-left: 30px;
}
/* Blogs */
.blogs  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.one {
    grid-column: 1 ;
    grid-row: 1 / span 3;
}

/* footer section */
footer {
    height: 350px;
    margin-top: 130px;
    background-color: #101820ff;
}